process {
    executor='slurm'
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=20.10.1'

//
// set paths for generic files here
//
params["barcode-whitelist"] = "/home/porchard/github/snRNAseq-NextFlow/3M-february-2018.txt"
params.star_index = ["hg19": "/lab/work/porchard/reference/STAR/2.7.9a/hg19", "rn6": "/lab/work/porchard/reference/STAR/2.7.9a/rn6"]
params.gtf = ["hg19": "/lab/work/porchard/reference/gtf/hg19/gencode.v19.annotation.gtf", "rn6": "/lab/work/porchard/reference/gtf/rn6/rn6.ensembl.ucsc-chrom-names.gtf"]
