process {
    executor='slurm'
    shell = ['/bin/bash', '-ueo', 'pipefail']
}

singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=20.10.1'

//
// set paths for generic files here
//
params['barcode-whitelist'] = "/lab/work/ccrober/T1D_U01/resources/barcode_whitelist_multiome_GEX.txt"
params.star_index = ["hg38": "/lab/work/ccrober/T1D_U01/resources/hg38/hg38_cvb4", "hg19": "/lab/work/porchard/reference/STAR/2.7.9a/hg19", "rn6": "/lab/work/porchard/reference/STAR/2.7.9a/rn6"]
params.gtf = ["hg38": "/lab/work/ccrober/T1D_U01/resources/hg38/gencode.v39.annotation.CVB4.gtf", "hg19": "/lab/work/porchard/reference/gtf/hg19/gencode.v19.annotation.gtf", "rn6": "/lab/work/porchard/reference/gtf/rn6/rn6.ensembl.ucsc-chrom-names.gtf"]
