singularity.autoMounts = true
nextflowVersion = '>=19.04.1'

//
// set paths for generic files here
//
params["barcode-whitelist"] = "/home/porchard/github/snRNAseq-NextFlow/3M-february-2018.txt"
params.star_index = ["hg19": "/lab/work/porchard/sn-muscle-project/data/star/hg19", "rn6": "/lab/work/porchard/sn-muscle-project/data/star/rn6"]
